<h1>Caesar Cipher Converter</h1>
<form method="POST" action="/">
	<label for="word">Enter your text to be converted:</label>
	<textarea id="word" type="textarea" name="word" ></textarea>
	<label for="shift">Enter a shift factor between 1 and 25:</label>
	<input id="shift" type="number" name="shift" />
	<input type="submit" value="Convert!" />
</form>